
.single-post{
  margin:5%;
}

.post-btn-float{
  margin-top:1em;
  float:right;
}

.discussion_heading{
  font-weight: bolder;
  font-family: courier;
  text-align : center;
  color:red;
}

.post_section{
  padding-top: 40px;
  width:25%;
  float:right;
  position: fixed;
  bottom:0;
  right:0;
  border: 0.2em outset black;
  background-color: rgba(62, 163, 61, 0.06);
  overflow:scroll;
  height:400px;
}

.changeColor{
  background-color: rgba(15, 15, 14, 0.24) ;
}
